<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet", href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h2>URL Shortner</h2>
        </header>
        <div class="form">
            <input type="text" class="urlinput" placeholder="Enter your url">
            <input type="submit" class="urlsubmit">
        </div>
    </div>
</body>
</html>